:root {
  --components-alert-heading-font-family: "Inter", Helvetica;
  --components-alert-heading-font-size: 16px;
  --components-alert-heading-font-style: normal;
  --components-alert-heading-font-weight: 700;
  --components-alert-heading-letter-spacing: 0px;
  --components-alert-heading-line-height: 150%;
  --components-badge-default-font-family: "Inter", Helvetica;
  --components-badge-default-font-size: 14px;
  --components-badge-default-font-style: normal;
  --components-badge-default-font-weight: 600;
  --components-badge-default-letter-spacing: 0px;
  --components-badge-default-line-height: 100%;
  --components-badge-large-font-family: "Inter", Helvetica;
  --components-badge-large-font-size: 16px;
  --components-badge-large-font-style: normal;
  --components-badge-large-font-weight: 600;
  --components-badge-large-letter-spacing: 0px;
  --components-badge-large-line-height: 100%;
  --components-badge-small-font-family: "Inter", Helvetica;
  --components-badge-small-font-size: 12px;
  --components-badge-small-font-style: normal;
  --components-badge-small-font-weight: 600;
  --components-badge-small-letter-spacing: 0px;
  --components-badge-small-line-height: 100%;
  --components-breadcrumbs-item-font-family: "Inter", Helvetica;
  --components-breadcrumbs-item-font-size: 12px;
  --components-breadcrumbs-item-font-style: normal;
  --components-breadcrumbs-item-font-weight: 400;
  --components-breadcrumbs-item-letter-spacing: 0px;
  --components-breadcrumbs-item-line-height: normal;
  --components-breadcrumbs-link-font-family: "Inter", Helvetica;
  --components-breadcrumbs-link-font-size: 12px;
  --components-breadcrumbs-link-font-style: normal;
  --components-breadcrumbs-link-font-weight: 400;
  --components-breadcrumbs-link-letter-spacing: 0px;
  --components-breadcrumbs-link-line-height: normal;
  --components-breadcrumbs-separator-font-family: "Inter", Helvetica;
  --components-breadcrumbs-separator-font-size: 12px;
  --components-breadcrumbs-separator-font-style: normal;
  --components-breadcrumbs-separator-font-weight: 400;
  --components-breadcrumbs-separator-letter-spacing: 0px;
  --components-breadcrumbs-separator-line-height: normal;
  --components-button-default-font-family: "Inter", Helvetica;
  --components-button-default-font-size: 16px;
  --components-button-default-font-style: normal;
  --components-button-default-font-weight: 700;
  --components-button-default-letter-spacing: 0px;
  --components-button-default-line-height: 150%;
  --components-button-large-font-family: "Inter", Helvetica;
  --components-button-large-font-size: 20px;
  --components-button-large-font-style: normal;
  --components-button-large-font-weight: 700;
  --components-button-large-letter-spacing: 0px;
  --components-button-large-line-height: 150%;
  --components-button-small-font-family: "Inter", Helvetica;
  --components-button-small-font-size: 14px;
  --components-button-small-font-style: normal;
  --components-button-small-font-weight: 700;
  --components-button-small-letter-spacing: 0px;
  --components-button-small-line-height: 150%;
  --components-copy-default-font-family: "Inter", Helvetica;
  --components-copy-default-font-size: 12px;
  --components-copy-default-font-style: normal;
  --components-copy-default-font-weight: 400;
  --components-copy-default-letter-spacing: 0px;
  --components-copy-default-line-height: 150%;
  --components-copy-tooltip-font-family: "Inter", Helvetica;
  --components-copy-tooltip-font-size: 8px;
  --components-copy-tooltip-font-style: normal;
  --components-copy-tooltip-font-weight: 400;
  --components-copy-tooltip-letter-spacing: 0px;
  --components-copy-tooltip-line-height: 150%;
  --components-divider-default-font-family: "Inter", Helvetica;
  --components-divider-default-font-size: 16px;
  --components-divider-default-font-style: normal;
  --components-divider-default-font-weight: 400;
  --components-divider-default-letter-spacing: 0px;
  --components-divider-default-line-height: 150%;
  --components-divider-label-font-family: "Inter", Helvetica;
  --components-divider-label-font-size: 14px;
  --components-divider-label-font-style: normal;
  --components-divider-label-font-weight: 400;
  --components-divider-label-letter-spacing: 0px;
  --components-divider-label-line-height: 150%;
  --components-field-default-font-family: "Inter", Helvetica;
  --components-field-default-font-size: 16px;
  --components-field-default-font-style: normal;
  --components-field-default-font-weight: 400;
  --components-field-default-letter-spacing: 0px;
  --components-field-default-line-height: 150%;
  --components-field-large-font-family: "Inter", Helvetica;
  --components-field-large-font-size: 20px;
  --components-field-large-font-style: normal;
  --components-field-large-font-weight: 400;
  --components-field-large-letter-spacing: 0px;
  --components-field-large-line-height: 150%;
  --components-field-small-font-family: "Inter", Helvetica;
  --components-field-small-font-size: 14px;
  --components-field-small-font-style: normal;
  --components-field-small-font-weight: 400;
  --components-field-small-letter-spacing: 0px;
  --components-field-small-line-height: 150%;
  --components-fieldcontrol-default-font-family: "Inter", Helvetica;
  --components-fieldcontrol-default-font-size: 16px;
  --components-fieldcontrol-default-font-style: normal;
  --components-fieldcontrol-default-font-weight: 400;
  --components-fieldcontrol-default-letter-spacing: 0px;
  --components-fieldcontrol-default-line-height: 150%;
  --components-fieldcontrol-large-font-family: "Inter", Helvetica;
  --components-fieldcontrol-large-font-size: 20px;
  --components-fieldcontrol-large-font-style: normal;
  --components-fieldcontrol-large-font-weight: 400;
  --components-fieldcontrol-large-letter-spacing: 0px;
  --components-fieldcontrol-large-line-height: 150%;
  --components-fieldcontrol-small-font-family: "Inter", Helvetica;
  --components-fieldcontrol-small-font-size: 14px;
  --components-fieldcontrol-small-font-style: normal;
  --components-fieldcontrol-small-font-weight: 400;
  --components-fieldcontrol-small-letter-spacing: 0px;
  --components-fieldcontrol-small-line-height: 150%;
  --components-fieldmessages-description-font-family: "Inter", Helvetica;
  --components-fieldmessages-description-font-size: 14px;
  --components-fieldmessages-description-font-style: normal;
  --components-fieldmessages-description-font-weight: 400;
  --components-fieldmessages-description-letter-spacing: 0px;
  --components-fieldmessages-description-line-height: 150%;
  --components-fieldmessages-error-font-family: "Inter", Helvetica;
  --components-fieldmessages-error-font-size: 14px;
  --components-fieldmessages-error-font-style: normal;
  --components-fieldmessages-error-font-weight: 400;
  --components-fieldmessages-error-letter-spacing: 0px;
  --components-fieldmessages-error-line-height: 150%;
  --components-fieldset-default-font-family: "Inter", Helvetica;
  --components-fieldset-default-font-size: 16px;
  --components-fieldset-default-font-style: normal;
  --components-fieldset-default-font-weight: 400;
  --components-fieldset-default-letter-spacing: 0px;
  --components-fieldset-default-line-height: 150%;
  --components-fieldset-legend-font-family: "Inter", Helvetica;
  --components-fieldset-legend-font-size: 16px;
  --components-fieldset-legend-font-style: normal;
  --components-fieldset-legend-font-weight: 700;
  --components-fieldset-legend-letter-spacing: 0px;
  --components-fieldset-legend-line-height: 150%;
  --components-heading-1-font-family: "Inter", Helvetica;
  --components-heading-1-font-size: 48px;
  --components-heading-1-font-style: normal;
  --components-heading-1-font-weight: 300;
  --components-heading-1-letter-spacing: 0px;
  --components-heading-1-line-height: 125%;
  --components-heading-2-font-family: "Inter", Helvetica;
  --components-heading-2-font-size: 40px;
  --components-heading-2-font-style: normal;
  --components-heading-2-font-weight: 400;
  --components-heading-2-letter-spacing: 0px;
  --components-heading-2-line-height: 125%;
  --components-heading-3-font-family: "Inter", Helvetica;
  --components-heading-3-font-size: 32px;
  --components-heading-3-font-style: normal;
  --components-heading-3-font-weight: 500;
  --components-heading-3-letter-spacing: 0px;
  --components-heading-3-line-height: 125%;
  --components-heading-4-font-family: "Inter", Helvetica;
  --components-heading-4-font-size: 24px;
  --components-heading-4-font-style: normal;
  --components-heading-4-font-weight: 600;
  --components-heading-4-letter-spacing: 0px;
  --components-heading-4-line-height: 125%;
  --components-heading-5-font-family: "Inter", Helvetica;
  --components-heading-5-font-size: 20px;
  --components-heading-5-font-style: normal;
  --components-heading-5-font-weight: 700;
  --components-heading-5-letter-spacing: 0px;
  --components-heading-5-line-height: 125%;
  --components-heading-6-font-family: "Inter", Helvetica;
  --components-heading-6-font-size: 16px;
  --components-heading-6-font-style: normal;
  --components-heading-6-font-weight: 800;
  --components-heading-6-letter-spacing: 0px;
  --components-heading-6-line-height: 125%;
  --components-heading-default-font-family: "Inter", Helvetica;
  --components-heading-default-font-size: 16px;
  --components-heading-default-font-style: normal;
  --components-heading-default-font-weight: 400;
  --components-heading-default-letter-spacing: 0px;
  --components-heading-default-line-height: 125%;
  --components-highlightmatch-highlighted-font-family: "Inter", Helvetica;
  --components-highlightmatch-highlighted-font-size: 16px;
  --components-highlightmatch-highlighted-font-style: normal;
  --components-highlightmatch-highlighted-font-weight: 700;
  --components-highlightmatch-highlighted-letter-spacing: 0px;
  --components-highlightmatch-highlighted-line-height: 150%;
  --components-icon-default-font-family: "Inter", Helvetica;
  --components-icon-default-font-size: 16px;
  --components-icon-default-font-style: normal;
  --components-icon-default-font-weight: 400;
  --components-icon-default-letter-spacing: 0px;
  --components-icon-default-line-height: 100%;
  --components-inappmessaging-header-font-family: "Inter", Helvetica;
  --components-inappmessaging-header-font-size: 16px;
  --components-inappmessaging-header-font-style: normal;
  --components-inappmessaging-header-font-weight: 800;
  --components-inappmessaging-header-letter-spacing: 0px;
  --components-inappmessaging-header-line-height: 150%;
  --components-input-default-font-family: "Inter", Helvetica;
  --components-input-default-font-size: 16px;
  --components-input-default-font-style: normal;
  --components-input-default-font-weight: 400;
  --components-input-default-letter-spacing: 0px;
  --components-input-default-line-height: 150%;
  --components-loader-default-font-family: "Inter", Helvetica;
  --components-loader-default-font-size: 12px;
  --components-loader-default-font-style: normal;
  --components-loader-default-font-weight: 400;
  --components-loader-default-letter-spacing: 0px;
  --components-loader-default-line-height: 150%;
  --components-loader-large-font-family: "Inter", Helvetica;
  --components-loader-large-font-size: 14px;
  --components-loader-large-font-style: normal;
  --components-loader-large-font-weight: 400;
  --components-loader-large-letter-spacing: 0px;
  --components-loader-large-line-height: 150%;
  --components-loader-linear-font-family: "Inter", Helvetica;
  --components-loader-linear-font-size: 8px;
  --components-loader-linear-font-style: normal;
  --components-loader-linear-font-weight: 400;
  --components-loader-linear-letter-spacing: 0px;
  --components-loader-linear-line-height: 150%;
  --components-loader-small-font-family: "Inter", Helvetica;
  --components-loader-small-font-size: 8px;
  --components-loader-small-font-style: normal;
  --components-loader-small-font-weight: 400;
  --components-loader-small-letter-spacing: 0px;
  --components-loader-small-line-height: 150%;
  --components-menu-default-font-family: "Inter", Helvetica;
  --components-menu-default-font-size: 16px;
  --components-menu-default-font-style: normal;
  --components-menu-default-font-weight: 400;
  --components-menu-default-letter-spacing: 0px;
  --components-menu-default-line-height: 150%;
  --components-message-default-font-family: "Inter", Helvetica;
  --components-message-default-font-size: 16px;
  --components-message-default-font-style: normal;
  --components-message-default-font-weight: 400;
  --components-message-default-letter-spacing: 0px;
  --components-message-default-line-height: 125%;
  --components-message-heading-font-family: "Inter", Helvetica;
  --components-message-heading-font-size: 16px;
  --components-message-heading-font-style: normal;
  --components-message-heading-font-weight: 700;
  --components-message-heading-letter-spacing: 0px;
  --components-message-heading-line-height: 125%;
  --components-pagination-current-font-family: "Inter", Helvetica;
  --components-pagination-current-font-size: 14px;
  --components-pagination-current-font-style: normal;
  --components-pagination-current-font-weight: 400;
  --components-pagination-current-letter-spacing: 0px;
  --components-pagination-current-line-height: 150%;
  --components-phonenumberfield-default-font-family: "Inter", Helvetica;
  --components-phonenumberfield-default-font-size: 16px;
  --components-phonenumberfield-default-font-style: normal;
  --components-phonenumberfield-default-font-weight: 400;
  --components-phonenumberfield-default-letter-spacing: 0px;
  --components-phonenumberfield-default-line-height: 150%;
  --components-placeholder-default-font-family: "Inter", Helvetica;
  --components-placeholder-default-font-size: 16px;
  --components-placeholder-default-font-style: normal;
  --components-placeholder-default-font-weight: 400;
  --components-placeholder-default-letter-spacing: 0px;
  --components-placeholder-default-line-height: 150%;
  --components-rating-default-font-family: "Inter", Helvetica;
  --components-rating-default-font-size: 16px;
  --components-rating-default-font-style: normal;
  --components-rating-default-font-weight: 400;
  --components-rating-default-letter-spacing: 0px;
  --components-rating-default-line-height: 150%;
  --components-select-default-font-family: "Inter", Helvetica;
  --components-select-default-font-size: 16px;
  --components-select-default-font-style: normal;
  --components-select-default-font-weight: 400;
  --components-select-default-letter-spacing: 0px;
  --components-select-default-line-height: 150%;
  --components-selectfield-default-font-family: "Inter", Helvetica;
  --components-selectfield-default-font-size: 16px;
  --components-selectfield-default-font-style: normal;
  --components-selectfield-default-font-weight: 400;
  --components-selectfield-default-letter-spacing: 0px;
  --components-selectfield-default-line-height: 150%;
  --components-sliderfield-default-font-family: "Inter", Helvetica;
  --components-sliderfield-default-font-size: 16px;
  --components-sliderfield-default-font-style: normal;
  --components-sliderfield-default-font-weight: 400;
  --components-sliderfield-default-letter-spacing: 0px;
  --components-sliderfield-default-line-height: 150%;
  --components-stepperfield-input-font-family: "Inter", Helvetica;
  --components-stepperfield-input-font-size: 16px;
  --components-stepperfield-input-font-style: normal;
  --components-stepperfield-input-font-weight: 400;
  --components-stepperfield-input-letter-spacing: 0px;
  --components-stepperfield-input-line-height: 150%;
  --components-switchfield-default-font-family: "Inter", Helvetica;
  --components-switchfield-default-font-size: 16px;
  --components-switchfield-default-font-style: normal;
  --components-switchfield-default-font-weight: 400;
  --components-switchfield-default-letter-spacing: 0px;
  --components-switchfield-default-line-height: 150%;
  --components-switchfield-large-font-family: "Inter", Helvetica;
  --components-switchfield-large-font-size: 20px;
  --components-switchfield-large-font-style: normal;
  --components-switchfield-large-font-weight: 400;
  --components-switchfield-large-letter-spacing: 0px;
  --components-switchfield-large-line-height: 150%;
  --components-switchfield-small-font-family: "Inter", Helvetica;
  --components-switchfield-small-font-size: 14px;
  --components-switchfield-small-font-style: normal;
  --components-switchfield-small-font-weight: 400;
  --components-switchfield-small-letter-spacing: 0px;
  --components-switchfield-small-line-height: 150%;
  --components-table-caption-font-family: "Inter", Helvetica;
  --components-table-caption-font-size: 16px;
  --components-table-caption-font-style: normal;
  --components-table-caption-font-weight: 400;
  --components-table-caption-letter-spacing: 0px;
  --components-table-caption-line-height: 150%;
  --components-table-data-font-family: "Inter", Helvetica;
  --components-table-data-font-size: 16px;
  --components-table-data-font-style: normal;
  --components-table-data-font-weight: 400;
  --components-table-data-letter-spacing: 0px;
  --components-table-data-line-height: 150%;
  --components-table-header-font-family: "Inter", Helvetica;
  --components-table-header-font-size: 16px;
  --components-table-header-font-style: normal;
  --components-table-header-font-weight: 700;
  --components-table-header-letter-spacing: 0px;
  --components-table-header-line-height: 150%;
  --components-tabs-item-font-family: "Inter", Helvetica;
  --components-tabs-item-font-size: 16px;
  --components-tabs-item-font-style: normal;
  --components-tabs-item-font-weight: 700;
  --components-tabs-item-letter-spacing: 0px;
  --components-tabs-item-line-height: 150%;
  --components-textfield-default-font-family: "Inter", Helvetica;
  --components-textfield-default-font-size: 16px;
  --components-textfield-default-font-style: normal;
  --components-textfield-default-font-weight: 400;
  --components-textfield-default-letter-spacing: 0px;
  --components-textfield-default-line-height: 150%;
  --large-font-family: "Inter", Helvetica;
  --large-font-size: 20px;
  --large-font-style: normal;
  --large-font-weight: 400;
  --large-letter-spacing: 0px;
  --large-line-height: 150%;
  --medium-font-family: "Inter", Helvetica;
  --medium-font-size: 16px;
  --medium-font-style: normal;
  --medium-font-weight: 400;
  --medium-letter-spacing: 0px;
  --medium-line-height: 150%;
  --small-font-family: "Inter", Helvetica;
  --small-font-size: 14px;
  --small-font-style: normal;
  --small-font-weight: 400;
  --small-letter-spacing: 0px;
  --small-line-height: 150%;
  --xl-font-family: "Inter", Helvetica;
  --xl-font-size: 24px;
  --xl-font-style: normal;
  --xl-font-weight: 400;
  --xl-letter-spacing: 0px;
  --xl-line-height: 150%;
  --xs-font-family: "Inter", Helvetica;
  --xs-font-size: 12px;
  --xs-font-style: normal;
  --xs-font-weight: 400;
  --xs-letter-spacing: 0px;
  --xs-line-height: 150%;
  --xxl-font-family: "Inter", Helvetica;
  --xxl-font-size: 32px;
  --xxl-font-style: normal;
  --xxl-font-weight: 400;
  --xxl-letter-spacing: 0px;
  --xxl-line-height: 150%;
  --xxs-font-family: "Inter", Helvetica;
  --xxs-font-size: 8px;
  --xxs-font-style: normal;
  --xxs-font-weight: 400;
  --xxs-letter-spacing: 0px;
  --xxs-line-height: 150%;
  --xxxl-font-family: "Inter", Helvetica;
  --xxxl-font-size: 40px;
  --xxxl-font-style: normal;
  --xxxl-font-weight: 400;
  --xxxl-letter-spacing: 0px;
  --xxxl-line-height: 150%;
  --xxxs-font-family: "Inter", Helvetica;
  --xxxs-font-size: 6px;
  --xxxs-font-style: normal;
  --xxxs-font-weight: 400;
  --xxxs-letter-spacing: 0px;
  --xxxs-line-height: 150%;
  --xxxxl-font-family: "Inter", Helvetica;
  --xxxxl-font-size: 48px;
  --xxxxl-font-style: normal;
  --xxxxl-font-weight: 400;
  --xxxxl-letter-spacing: 0px;
  --xxxxl-line-height: 150%;
}
